.codigos {
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: #123460;
    padding: 20px; 
    color: white; 
}

.codigos .codigos-explicao {
    width: 100%;
    height: auto;
}


.codigos .codigos-explicao {
    margin-top: 20px; 
}

.codigos p{
    color: rgb(255, 255, 255);
    margin: 10px;
}

.codigos h3{
    color: #FFD700;
}

.codigos strong{
    color: #FFD700;
    
    
}

.codigos ul li{
    margin: 10px;
    
}

.codigos h2{
    color: #FFD700;
}


.footer {
    width: 100%;
    height: 120px;
    background-color: #002454;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.rodape {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}